* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: auto;
  background-image: url("../assets/image/fondo/subtle-prism.svg");
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header1 header1 header1" "main main main" "footer footer footer"; }

p {
  font-family: roboto;
  font-size: 15px;
  line-height: 1.5em;
  padding: 3px;
  color: black;
  margin: auto; }

h1 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  text-align: center;
  word-spacing: 5px; }

h2 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  padding: 3px; }

h3 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  padding: 10px;
  margin: 20px; }

h4 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  padding: 5px; }

h5 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  padding: 100%;
  margin: 100%; }

.slide {
  margin: top 10px;
  height: auto;
  width: auto;
  padding: auto; }

.slide img {
  height: auto;
  width: auto; }

.sCarrucel {
  width: 100%;
  height: auto;
  padding: 0;
  border: 1px solid grey; }

header {
  font-family: 'Roboto Mono', monospace;
  color: black;
  height: 30%;
  padding: 10px;
  margin: 5px;
  grid-area: header1; }

.menu {
  width: 100%;
  height: 200px;
  padding: auto;
  margin: 0 auto;
  color: black; }
  .menu img {
    height: 90px;
    width: 90px; }

main {
  width: 100%;
  margin: top auto;
  padding: 0%;
  height: auto;
  grid-area: main; }

.main-container {
  height: auto;
  margin: 2%;
  padding-left: 25%;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(2, 0.3fr);
  grid-template-rows: repeat(2, 0.3fr);
  gap: 10px;
  grid-template-areas: "ab j" "n c"; }

.main-container-marcas {
  width: 100%;
  padding: 50px;
  height: 85vh;
  background-color: white;
  border: 1.5px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  grid-template-areas: "p p p p p" "u i r w m" "x t y z f"; }

.mainMarcasText {
  width: 100%;
  height: 100px;
  font-size: 50px;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-area: p;
  color: black;
  background-position: center;
  background-repeat: no-repeat; }

.mainMarcasImg {
  width: 200px;
  height: 150px;
  padding: 10px;
  border-radius: 3%;
  border: 1px solid black;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.mainMarcasImg:hover {
  cursor: pointer; }

.l {
  grid-area: l; }

.q {
  grid-area: q; }

.m {
  grid-area: m; }

.f {
  grid-area: f; }

.u {
  grid-area: u; }

.i {
  grid-area: i; }

.r {
  grid-area: r; }

.w {
  grid-area: w; }

.x {
  grid-area: x; }

.t {
  grid-area: t; }

.y {
  grid-area: y; }

.z {
  grid-area: z; }

.ab {
  grid-area: ab; }

.c {
  grid-area: c; }

.j {
  grid-area: j; }

.n {
  grid-area: n; }

.v {
  grid-area: v; }

.sector {
  border: 1px outset grey;
  padding: 6%;
  height: 400px;
  width: 350px;
  overflow: visible;
  background-image: url(../assets/image/fondo/scattered-forcefields.svg);
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  text-align: center;
  transition: all 1.8s ease; }
  .sector p {
    color: black; }

.sText {
  border: 1px outset grey;
  padding: 6%;
  height: 400px;
  width: 350px;
  border: none;
  overflow: visible;
  align-self: center;
  transition: all 1.8s ease; }
  .sText p {
    color: black; }

.sTitulo {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 1px;
  text-align: center; }

.sHijo {
  font-size: 1.5em;
  text-align: start; }

.sector-img {
  border: 1px solid black;
  border-radius: 3%;
  width: 100%;
  height: auto; }

.sector:hover {
  transform: translate(10px, 14px);
  border-radius: 3%;
  border: 1px outset black; }

footer {
  position: end;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  border: 2px solid black;
  background-color: #272a2c;
  grid-area: footer; }
  footer p {
    color: white; }
  footer a {
    color: white; }

.fFather {
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  border: none; }

.formulario {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Abril Fatface", cursive;
  display: block;
  width: 100%;
  height: auto;
  margin: 20px auto;
  border: 3px solid grey;
  color: black; }
  .formulario label {
    font-family: "Abril Fatface", cursive;
    color: black;
    text-align: center;
    margin: 0;
    padding: 2px; }

.input-button {
  color: white;
  background-color: grey; }

button {
  font-family: roboto; }

input {
  font-family: "Abril Fatface", cursive;
  padding: 3px;
  width: auto;
  color: white; }

textarea {
  font-family: "Abril Fatface", cursive;
  color: white; }

.product-father {
  border: none;
  padding: 0;
  margin: 0;
  height: auto; }
  .product-father h1 {
    font-size: 3em;
    text-align: center; }
  .product-father h2 {
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: 0; }

.box-product {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin: 0 auto; }

.product {
  display: block;
  flex-direction: row;
  margin: 5px;
  height: 400px;
  width: 300px;
  border: solid black 1px;
  text-align: center; }
  .product h3 {
    font-family: "Bebas Neue", sans-serif;
    color: rgba(0, 0, 0, 0.822);
    font-size: 20px; }
  .product p {
    font-family: "Bebas Neue", sans-serif;
    color: rgba(0, 0, 0, 0.822);
    font-size: 40px;
    margin: 5px; }

.product-img {
  height: 200px;
  width: 250px;
  padding: 3%;
  margin: 5px; }

.poCoFather {
  border: none;
  display: flex;
  align-items: center;
  margin: auto;
  height: 125vh, auto;
  width: 100%;
  flex-wrap: wrap; }

.politicsContent {
  overflow: visible;
  align-self: center;
  text-align: center; }
  .politicsContent h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 3em;
    color: black;
    margin: 0px;
    padding: 0px; }
  .politicsContent h2 {
    font-family: "Abril Fatface", cursive;
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 0;
    padding: 20px; }
  .politicsContent p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 3px;
    color: black;
    margin: auto; }

.qfather {
  width: 100%;
  height: auto;
  border: none;
  display: inline; }

.questionM, .politicsContent {
  border: 3px solid grey;
  width: 70%;
  height: auto;
  display: block;
  margin: auto; }
  .questionM h1, .politicsContent h1 {
    color: black;
    font-size: 3em; }

.questionC {
  padding: 10px;
  width: 100%;
  margin: auto;
  height: 25vh,auto; }

@media only screen and (max-width: 1000px) {
  body {
    text-align: center;
    margin: auto;
    height: auto; }
  main {
    margin: auto;
    width: 90%;
    height: auto; }
  .main-container {
    height: auto;
    width: auto;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "ab j" "c n"; }
  .main-container-marcas {
    width: 100%;
    padding: 20px;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas: "p p p " "u i r " "w m x" "t y z" "f f f"; }
  .sTitulo {
    padding: 0;
    margin: 0;
    height: auto; }
  .sh1 {
    padding: 0;
    margin: 0;
    height: 100px; }
  .menu {
    width: 100%;
    padding: 5px;
    margin: 5px;
    height: auto; }
  .hijo {
    width: 300px;
    border: solid grey 3px;
    color: green;
    font-size: 1.5em;
    text-align: center; }
  .tableResponsive {
    width: 100%;
    height: 100%;
    padding: auto; }
  .sector {
    width: 300px;
    height: 300px; }
  .sector-img {
    width: 85%;
    height: 180px; } }

.product-father {
  height: auto; }

footer {
  height: 100px;
  width: 100%; }

@media only screen and (max-width: 768px) {
  body {
    background-color: #0b87f3;
    text-align: center;
    height: auto; }
  main {
    width: 100%;
    height: auto; }
  .main-container {
    height: auto;
    padding: 3%;
    margin: 0;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "ab j" "c n"; }
  .sTitulo {
    padding: 0;
    margin: 0;
    height: auto; }
  .sh1 {
    padding: 0;
    margin: 0;
    height: 100px; }
  .main-container-marcas {
    width: 100%;
    padding: 85px;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "p p " "u i " "r w " "m x" "t y" "z f"; }
  .sector {
    display: block;
    height: auto;
    width: auto;
    border: solid grey 3px;
    color: red;
    font-size: 1.5em;
    text-align: center; }
    .sector h2 {
      font-size: 0.75em; }
  .sector-img {
    width: 85%;
    height: 180px; } }

.product-father {
  height: auto; }

footer {
  height: 100px;
  width: 100%; }

@media only screen and (max-width: 500px) {
  body {
    background-color: black;
    font-size: auto;
    text-align: center;
    height: auto; }
  h2 {
    text-overflow: 10px; }
  main {
    width: 100%;
    height: 100%; }
  .main-container {
    height: auto;
    padding: 8%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    grid-template-areas: "ab " "j " "c " "n"; }
  .slide {
    width: auto;
    height: auto; }
  .main-container-marcas {
    width: 100%;
    padding: 120px;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "p " "u" "i" "r " "w" "m " "x" "t " "y" "z" "f"; }
  .sector {
    width: 1fr;
    height: 1fr;
    padding: 20px;
    margin: top 30px; }
  .sHijo {
    width: 100%;
    height: auto; }
  .hijo {
    height: auto;
    width: auto;
    border: solid grey 3px;
    color: white;
    font-size: auto;
    text-align: center; }
  .politicsContent h1 {
    font-size: 1.5em; } }

.sector-img {
  width: 85%;
  height: 180px; }

.product-father {
  height: auto; }

footer {
  height: 100px;
  width: 100%; }
