* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: auto;
  background: linear-gradient(to top, white, #e7e7e7, rgba(236, 225, 225, 0.925), #faefef, rgba(207, 207, 207, 0.925));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header1 header1 header1" "main main main" "footer footer footer"; }

p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  padding: 3px;
  color: grey;
  margin: auto; }

h1 {
  font-family: "Abril Fatface", cursive;
  color: black;
  line-height: 1.5em;
  text-align: center;
  word-spacing: 5px; }

h2 {
  font-family: "Abril Fatface", cursive;
  color: black;
  line-height: 1.5em;
  padding: 3px; }

h3 {
  font-family: "Abril Fatface", cursive;
  color: #221e47;
  line-height: 1.5em;
  padding: 10px;
  margin: 20px; }

h4 {
  font-family: "Abril Fatface", cursive;
  color: #28a1a1;
  line-height: 1.5em;
  padding: 5px; }

h5 {
  font-family: "Abril Fatface", cursive;
  color: #221e47;
  line-height: 1.5em;
  padding: 100%;
  margin: 100%; }

.hijo {
  border: solid 3px;
  color: green;
  font-size: 1.5em;
  text-align: start; }

header {
  font-family: "Abril Fatface", cursive;
  height: 30%;
  padding: 10px;
  margin: 5px;
  grid-area: header1; }
  header a {
    color: #070008;
    text-decoration: none; }

.menu {
  width: 100%;
  height: 200px;
  padding: auto;
  margin: 0 auto; }
  .menu img {
    height: 90px;
    width: 90px; }

.slide {
  margin: top 10px;
  height: 350px;
  width: 100%;
  padding: auto;
  border: 1px solid grey; }

.slide img {
  height: 400px;
  width: 100%, auto; }

.sCarrucel {
  display: block;
  height: 400px;
  padding: 0; }

main {
  width: 100%;
  margin: top auto;
  padding: 0%;
  height: 188vh,auto;
  border: 3px solid black;
  grid-area: main; }

.main-container {
  height: 153vh;
  margin: 0;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas: "q q" "ab j" "c n"; }

.main-container-marcas {
  width: 100%;
  padding: 50px;
  height: 85vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  grid-template-areas: "p p p p p" "u i r w m" "x t y z f"; }

.mainMarcasText {
  width: 100%;
  height: 150px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-area: p;
  color: black;
  background-position: center;
  background-repeat: no-repeat; }

.mainMarcasImg {
  width: 210px;
  height: 130px;
  padding: 5px;
  border-radius: 3%;
  border: 1px solid black;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.mainMarcasImg:hover {
  cursor: pointer; }

.q {
  grid-area: q; }

.m {
  grid-area: m; }

.f {
  grid-area: f; }

.u {
  grid-area: u; }

.i {
  grid-area: i; }

.r {
  grid-area: r; }

.w {
  grid-area: w; }

.x {
  grid-area: x; }

.t {
  grid-area: t; }

.y {
  grid-area: y; }

.z {
  grid-area: z; }

.ab {
  grid-area: ab; }

.c {
  grid-area: c; }

.j {
  grid-area: j; }

.n {
  grid-area: n; }

.sector {
  border: 1px outset grey;
  padding: 6%;
  height: 370px;
  width: 340px;
  overflow: visible;
  background-color: #8f8686;
  display: grid;
  align-self: center;
  transition: all 1.8s ease; }
  .sector p {
    color: black; }

.sText {
  border: 1px outset grey;
  padding: 6%;
  height: 370px;
  width: 340px;
  border: none;
  overflow: visible;
  align-self: center;
  transition: all 1.8s ease; }
  .sText p {
    color: black; }

.sTitulo {
  width: 100%;
  height: auto;
  margin: auto;
  display: grid;
  padding: 20px, auto;
  text-align: center; }

.sHijo {
  font-size: 1.5em;
  text-align: start; }

.sector-img {
  border: 1px solid black;
  border-radius: 3%;
  width: 100%;
  height: 180px; }

.sector:hover {
  transform: translate(10px, 14px);
  border-radius: 3%;
  border: 1px outset black; }

.productos {
  padding: 0px;
  height: 100%;
  width: 90%;
  border-radius: 3%;
  border: 3px solid #203a52;
  background-color: #aa0000; }

footer {
  position: end;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  grid-area: footer;
  border: 2px solid black;
  background-color: #272a2c; }
  footer p {
    color: white; }
  footer a {
    color: white; }

.fFather {
  display: flex;
  height: 82vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  border: none; }

.formulario {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Abril Fatface", cursive;
  display: block;
  width: auto;
  height: 79vh;
  margin: 0 auto;
  border: 3px solid grey;
  color: black; }
  .formulario label {
    font-family: "Abril Fatface", cursive;
    color: black;
    text-align: center;
    margin: 0;
    padding: 2px; }

.input-button {
  color: white;
  background-color: grey; }

button {
  font-family: roboto; }

input {
  font-family: "Abril Fatface", cursive;
  padding: 3px;
  color: white; }

textarea {
  font-family: "Abril Fatface", cursive;
  color: white; }

.pFather {
  border: none;
  display: flex;
  height: 110vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

.tHijo {
  background-color: #0a8cd8;
  height: 550px; }

.productos {
  padding: 20px;
  height: 100vh;
  width: 90%;
  border-radius: 3%;
  border: 3px solid #203a52;
  background-color: #0a8cd8;
  display: block; }

th {
  font-family: "Bebas Neue", sans-serif;
  color: rgba(253, 253, 253, 0.822); }

td {
  font-family: "Bebas Neue", sans-serif;
  color: white; }

li {
  list-style-type: none;
  padding: 5%;
  margin: 0%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  color: rgba(148, 141, 50, 0.658); }

.poCoFather {
  border: none;
  display: flex;
  align-items: center;
  margin: auto;
  height: 125vh, auto;
  width: 100%;
  flex-wrap: wrap; }

.politicsContent {
  overflow: visible;
  align-self: center;
  text-align: center; }
  .politicsContent h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 2em,auto;
    color: black;
    text-align: center;
    margin: 0;
    padding: 20px; }
  .politicsContent h2 {
    font-family: "Abril Fatface", cursive;
    font-size: 1.5em;
    color: black;
    text-align: center;
    margin: 0;
    padding: 20px; }
  .politicsContent p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 3px;
    color: black;
    margin: auto; }

.qfather {
  width: 100%;
  height: 113vh,auto;
  border: none; }

.questionM, .politicsContent {
  border: 3px solid grey;
  width: 70%;
  height: 110vh,auto;
  display: block;
  margin: auto; }
  .questionM h1, .politicsContent h1 {
    color: black;
    font-size: 3em; }

.questionC {
  padding: 10px;
  width: 100%;
  margin: auto;
  height: 25vh; }

@media only screen and (max-width: 1000px) {
  body {
    text-align: center;
    margin: auto;
    height: auto; }
  main {
    margin: auto;
    width: 90%;
    height: auto; }
  .main-container {
    height: auto;
    padding: 13%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "ab j" "c n"; }
  .main-container-marcas {
    width: 100%;
    padding: 20px;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    grid-template-areas: "p p p " "u i r " "w m x" "t y z" "f f f"; }
  .menu {
    width: 100%;
    padding: 5px;
    margin: 5px;
    height: auto; }
  .hijo {
    width: 300px;
    border: solid grey 3px;
    color: green;
    font-size: 1.5em;
    text-align: center; }
  .tableResponsive {
    width: 100%;
    height: 100%;
    padding: auto; }
  .sector {
    width: 300px;
    height: 300px; }
  footer {
    height: auto; } }

@media only screen and (max-width: 1000px) and (max-width: 768px) {
  body {
    background-color: #0b87f3;
    text-align: center;
    height: auto; }
  main {
    width: auto;
    height: auto; }
  .main-container {
    height: auto;
    padding: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "ab j" "c n"; }
  .main-container-marcas {
    width: 100%;
    padding: 85px;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "p p " "u i " "r w " "m x" "t y" "z f"; }
  .sector {
    width: 300px;
    height: 300px; }
    .sector h2 {
      font-size: 0.75em; }
  .sector-img {
    width: 100%, auto;
    height: 180px; }
  .hijo {
    width: auto;
    border: solid #04010f 3px;
    color: red;
    font-size: 1.5em;
    text-align: center; } }

@media only screen and (max-width: 1000px) {
  footer {
    height: auto; } }

@media only screen and (max-width: 1000px) and (max-width: 500px) {
  body {
    background-color: black;
    font-size: auto;
    text-align: center;
    height: auto; }
  h2 {
    text-overflow: 10px; }
  main {
    width: 100%;
    height: auto;
    display: grid; }
  .main-container {
    height: auto;
    padding: 8%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    grid-template-areas: "ab " "j " "c " "n"; }
  .main-container-marcas {
    width: 100%;
    padding: 120px;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "p " "u" "i" "r " "w" "m " "x" "t " "y" "z" "f"; }
  .sector {
    width: 250px;
    height: 300px; }
  .hijo {
    border: solid grey 3px;
    color: white;
    font-size: auto;
    text-align: center; }
  footer {
    height: auto; } }
