* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: auto;
  background: linear-gradient(to top, #242424, #292829, rgba(46, 46, 46, 0.925), #3a3939, rgba(68, 68, 68, 0.925));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "header1 header1 header1" "main main main" "footer footer footer"; }

p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  padding: 3px;
  color: rgba(148, 141, 50, 0.658);
  margin: auto; }

h1 {
  font-family: "Abril Fatface", cursive;
  color: #221e47;
  line-height: 1.5em;
  text-align: center;
  word-spacing: 5px; }

h2 {
  font-family: "Abril Fatface", cursive;
  color: #2e3c8d;
  line-height: 1.5em;
  padding: 3px; }

h3 {
  font-family: "Abril Fatface", cursive;
  color: #221e47;
  line-height: 1.5em;
  padding: 10px;
  margin: 20px; }

h4 {
  font-family: "Abril Fatface", cursive;
  color: #28a1a1;
  line-height: 1.5em;
  padding: 5px; }

h5 {
  font-family: "Abril Fatface", cursive;
  color: #221e47;
  line-height: 1.5em;
  padding: 100%;
  margin: 100%; }

.hijo {
  background: radial-gradient(circle, #1b3652, #34345c, rgba(2, 2, 2, 0.925));
  border: solid #3700ff 3px;
  color: green;
  font-size: 1.5em;
  text-align: start; }

header {
  font-family: "Abril Fatface", cursive;
  height: 30%;
  padding: 10px;
  grid-area: header1; }
  header a {
    color: #070008;
    text-decoration: none; }

.slide {
  margin: top 10px;
  height: 60vh;
  width: 100%;
  padding: 10px; }

.slide img {
  height: 60vh; }

main {
  width: 100%;
  margin: top auto;
  padding: 0%;
  height: 210vh;
  border: 3px solid black;
  grid-area: main; }

.main-container {
  height: 100vh;
  padding: 13%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  grid-template-areas: "ab j" "c n"; }

.main-container-marcas {
  width: 100%;
  padding: 20px;
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  grid-template-areas: "p p p p p" "u i r w m" "x t y z f"; }

.mainMarcasText {
  width: 100%;
  height: 150px;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-area: p;
  color: black;
  background-position: center;
  background-repeat: no-repeat; }

.mainMarcasImg {
  width: 210px;
  height: 130px;
  padding: 3px;
  border-radius: 3%;
  border: 1px solid black;
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.m {
  grid-area: m; }

.f {
  grid-area: f; }

.u {
  grid-area: u; }

.i {
  grid-area: i; }

.r {
  grid-area: r; }

.w {
  grid-area: w; }

.x {
  grid-area: x; }

.t {
  grid-area: t; }

.y {
  grid-area: y; }

.z {
  grid-area: z; }

.ab {
  grid-area: ab; }

.c {
  grid-area: c; }

.j {
  grid-area: j; }

.n {
  grid-area: n; }

.sector {
  border: 5px outset #d1451a;
  padding: 6%;
  height: 350px;
  width: 300px;
  background: radial-gradient(circle, #1b3652, #34345c, rgba(2, 2, 2, 0.925));
  overflow: visible;
  display: grid;
  align-self: center;
  transition: all 1.8s ease; }

.sText {
  padding: 6%;
  height: 350px;
  width: 300px;
  overflow: visible;
  align-self: center;
  transition: all 1.8s ease; }

.sHijo {
  font-size: 1.5em;
  text-align: start; }

.sector-img {
  border: 1px solid black;
  border-radius: 3%;
  width: 100%;
  height: 180px; }

.sector:hover {
  background-color: blueviolet;
  transform: translate(10px, 14px);
  border-radius: 3%;
  border: 3px outset #ff0404; }

.sCarrucel {
  padding: 0;
  height: auto;
  width: 100%;
  margin: 3px;
  display: grid; }

.carrucelImg {
  border: 3px solid #9b18d8;
  height: auto;
  width: 100%; }

div {
  text-align: center; }

.productos {
  padding: 0px;
  height: 100%;
  width: 90%;
  border-radius: 3%;
  border: 3px solid #203a52;
  background-color: #aa0000; }

footer {
  position: end;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  grid-area: footer; }

.fFather {
  background-image: url(/assets/image/divs.jpg);
  display: flex;
  height: 110vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

.formulario {
  background-color: rgba(8, 82, 124, 0.8);
  font-family: "Abril Fatface", cursive;
  display: block;
  width: auto;
  height: 100vh;
  border: 5px outset #2e2c2c;
  color: #b430c5; }
  .formulario label {
    font-family: "Abril Fatface", cursive;
    color: #b430c5;
    text-align: center;
    margin: 0;
    padding: 2px; }

.pFather {
  background-image: url(/assets/image/divs.jpg);
  display: flex;
  height: 110vh;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }

.tHijo {
  background-color: #0a8cd8;
  height: 550px; }

.productos {
  padding: 0px;
  height: 100vh;
  width: 90%;
  border-radius: 3%;
  border: 3px solid #203a52;
  background-color: #0a8cd8;
  display: block; }

button {
  font-family: roboto; }

input {
  font-family: "Abril Fatface", cursive;
  background-color: black;
  color: white; }

textarea {
  font-family: "Abril Fatface", cursive;
  background-color: black;
  color: white; }

.input-button {
  color: white;
  background-color: grey; }

th {
  font-family: "Bebas Neue", sans-serif;
  color: rgba(253, 253, 253, 0.822); }

td {
  font-family: "Bebas Neue", sans-serif;
  color: white; }

li {
  list-style-type: none;
  padding: 5%;
  margin: 0%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  color: rgba(148, 141, 50, 0.658); }

.poCoFather {
  border: 3px solid rgba(3, 3, 3, 0.493);
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  align-items: center;
  margin: auto;
  height: 120vh;
  width: 100%;
  flex-wrap: wrap; }

.politicsContent {
  border: 5px solid white;
  width: 100%;
  height: 110vh;
  margin: auto;
  padding: 30px;
  display: block;
  overflow: visible;
  align-self: center;
  text-align: center;
  background: radial-gradient(circle, #1b3652, #34345c, rgba(2, 2, 2, 0.925)); }
  .politicsContent h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px; }
  .politicsContent h2 {
    font-family: "Abril Fatface", cursive;
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px; }
  .politicsContent p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 3px;
    color: rgba(255, 251, 4, 0.658);
    margin: auto; }

.questionM {
  width: 100%;
  height: 100vh;
  display: flex; }

.questionC {
  padding: 10px;
  width: 3fr;
  margin: auto;
  background: radial-gradient(circle, #1b3652, #34345c, rgba(2, 2, 2, 0.925)); }

@media only screen and (max-width: 1000px) {
  body {
    text-align: center;
    margin: auto; }
  main {
    margin: auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "ef ef " "ab c" "d e"; }
  .hijo {
    width: auto;
    background-color: yellow;
    border: solid #3700ff 3px;
    color: green;
    font-size: 1.5em;
    text-align: center; }
  .tableResponsive {
    width: 100%;
    height: 100%;
    padding: auto; }
  footer {
    height: auto; } }

@media only screen and (max-width: 1000px) and (max-width: 768px) {
  body {
    background-color: #0b87f3;
    text-align: center; }
  main {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas: "ef ef " "ab c" "d e"; }
  .hijo {
    width: auto;
    background-color: yellow;
    border: solid #04010f 3px;
    color: red;
    font-size: 1.5em;
    text-align: center; } }

@media only screen and (max-width: 1000px) {
  footer {
    height: auto; } }

@media only screen and (max-width: 1000px) and (max-width: 500px) {
  body {
    background-color: black;
    text-align: center; }
  h2 {
    text-overflow: 10px; }
  main {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    grid-template-areas: "ef" "ab" "c" "d" "e"; }
  .hijo {
    width: auto;
    background-color: yellow;
    border: solid #f7f7f7 3px;
    color: white;
    font-size: 1.5em;
    text-align: center; }
  footer {
    height: auto; } }
