footer {
  position: end;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(39, 42, 44);
  grid-area: footer;
  p{
    color: white;
  }
  a{
    color: white;
  }
}
