.fFather {
  display: flex;
  height:auto;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}
.formulario {
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Abril Fatface", cursive;
  display: block;
  width: 100%;
  height: auto;
  margin: 20px auto;
  border: 3px solid grey;
  color: black;
  label {
    font-family: "Abril Fatface", cursive;
    color: black;
    text-align: center;
    margin: 0;
    padding: 2px;
  }
}
.input-button {
  color: white;
  background-color: grey;
}
button {

  font-family: roboto;
}
input {
  font-family: "Abril Fatface", cursive;
  padding: 3px;
  width: auto;
  color: white;
}
textarea {
  font-family: "Abril Fatface", cursive;
  color: white;
}
