* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: auto;
  background-image: url("../assets/image/fondo/subtle-prism.svg");
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "header1 header1 header1"
    "main main main"
    "footer footer footer";
}
p {
  font-family: roboto;
  font-size: 15px;
  line-height: 1.5em;
  padding: 3px;
  color: black;
  margin: auto;
}
h1 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  text-align: center;
  word-spacing: 5px;
}
h2 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  padding: 3px;
}
h3 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  padding: 10px;
  margin: 20px;
}
h4 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  padding: 5px;
}
h5 {
  font-family: 'Roboto Mono', monospace;
  color: black;
  line-height: 1.5em;
  padding: 100%;
  margin: 100%;
}
.slide {
  margin: top 10px;
  height: auto;
  width: auto;
  padding: auto;
}
.slide img {
  height: auto;
  width: auto;
}
.sCarrucel {
  width: 100%;
  height:auto;
  padding: 0;
  border: 1px solid grey;
}

