header {
  font-family: "Abril Fatface", cursive;
  height: 30%;
  padding: 10px;
  margin: 5px;
  grid-area: header1;
  a {
    color: #070008;
    text-decoration: none;
  }
}
.menu{
  width: 100%;
  height: 200px;
  padding: auto;
  margin: 0 auto ;
  img{
    height: 90px;
    width: 90px;
  }
}
.slide {
  margin: top 10px, ;
  height: 350px;
  width: 100%;
  padding: auto;
  border: 1px solid grey;
  
}
.slide img {
  height: 400px;
  width: 100%, auto;
}
.sCarrucel {
  display: block;
  height: 400px;
  padding: 0;
}
