$width: 350px;
$height: 400px;

@mixin box ($width, $height) {
  border: 1px outset grey;
  padding: 6%;
  height: $height;
  width: $width;
  p{
    color: black;
  }
}
main {
  width: 100%;
  margin: top auto;
  padding: 0%;
  height: auto;
  grid-area: main;
}
.main-container {
  height: auto;
  margin: 2%;
  padding-left: 25%;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(2, 0.3fr);
  grid-template-rows: repeat(2, 0.3fr);
  gap: 10px;
  grid-template-areas:
    "ab j"
    "n c";
}
.main-container-marcas {
  width: 100%;
  padding: 50px;
  height: 85vh;
  background-color: white;
  border: 1.5px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  grid-template-areas:
    "p p p p p"
    "u i r w m"
    "x t y z f";
}
.mainMarcasText {
  width: 100%;
  height: 100px;
  font-size: 50px;
  padding:0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-area: p;
  color: rgb(0, 0, 0);
  background-position: center;
  background-repeat: no-repeat;
}
.mainMarcasImg {
  width: 200px;
  height: 150px;
  padding: 10px;
  border-radius: 3%;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainMarcasImg:hover {
  cursor: pointer;
}
.l{
  grid-area: l;
}
.q{
  grid-area: q;
}
.m {
  grid-area: m;
}
.f {
  grid-area: f;
}
.u {
  grid-area: u;
}
.i {
  grid-area: i;
}
.r {
  grid-area: r;
}
.w {
  grid-area: w;
}
.x {
  grid-area: x;
}
.t {
  grid-area: t;
}
.y {
  grid-area: y;
}
.z {
  grid-area: z;
}
.ab {
  grid-area: ab;
}
.c {
  grid-area: c;
}
.j {
  grid-area: j;
}
.n {
  grid-area: n;
}
.v{
  grid-area: v;
}
.sector {
  @include box($width, $height);
  overflow: visible;
  background-image: url(../assets/image/fondo/scattered-forcefields.svg);
  display: flex;
  flex-wrap: wrap;
  padding-left: 50px;
  text-align: center;
  transition: all 1.8s ease;
}
.sText {
 @include box($width, $height);
 border: none;  
  overflow: visible;
  align-self: center;
  transition: all 1.8s ease;
}
.sTitulo{
  width: 100%;
  height: 100px;
  margin:0;
  padding: 1px;
  text-align: center;
}
.sHijo {
  font-size: 1.5em;
  text-align: start;
}
.sector-img {
  border: 1px solid black;
  border-radius: 3%;
  width: 100%;
  height: auto;
}
.sector:hover {
  transform: translate(10px, 14px);
  border-radius: 3%;
  border: 1px outset black;
}
