.poCoFather {
  border: none;
  grid-template-columns: repeat(3, 1fr);
  display: flex;

  align-items: center;
  margin: auto;
  height: 125vh, auto;
  width: 100%;
  flex-wrap: wrap;
}
.politicsContent {
  border: 3px solid grey;
  width: 80%;
  height: 110vh, auto;
  margin: auto;
  padding: 30px;
  display: block;
  overflow: visible;
  align-self: center;
  text-align: center;
  background: radial-gradient(
    circle,
    rgb(27, 54, 82),
    rgb(52, 52, 92),
    rgba(2, 2, 2, 0.925)
  );
  h1 {
    font-family: "Abril Fatface", cursive;
    font-size: 2em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  h2 {
    font-family: "Abril Fatface", cursive;
    font-size: 1.5em;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  p {
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 3px;
    color: rgba(255, 251, 4, 0.658);
    margin: auto;
  }
}
