.qfather{
  width: 100%;
  height: 113vh,auto;
  border: none;
}
.questionM {
  border: 3px solid grey; 
  width: 70%;
  height: 110vh,auto;
  display: block;
  margin: auto;
  h1{
    color: black;
    font-size: 3em;
  }
}
.questionC {
  padding: 10px;
  width: 100%;
  margin: auto;
  height: 25vh;
}