// .qfather{
//   width: 100%;
//   height: 110vh;
// }
.questionM {
  // border: 3px solid rgba(3, 3, 3, 0.493);
  width: 100%;
  height: 100vh;
  display: flex;
}
.questionC {
  padding: 10px;
  width: 3fr;
  margin: auto;
  background: radial-gradient(
    circle,
    rgb(27, 54, 82),
    rgb(52, 52, 92),
    rgba(2, 2, 2, 0.925)
  );
}
.m {
  grid-area: m;
}
.v {
  grid-area: v;
}
.y {
  grid-area: y;
}
.t {
  grid-area: t;
}
.j {
  grid-area: j;
}
