<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut" href="../assets/image/icon/favicon-16x16.png" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <title>Productos</title>
</head>

<body>
  <header class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
              <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html"><img src="../image/icon/favicon.ico" alt="HardwareShop" width="100"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./productos.html">Productos</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="./contacto.html">Contacto</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
         </div>
    </div>
    </header>
    <main class="container-fluid ">
      <h2>Listado de Productos:</h2>
      <div class="row productos">
          <table class="table col-xs-12 col-sm-12 col-lg-12 p-3 ">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Codigo</th>
                <th scope="col">Nombre</th>
                <th scope="col">Description</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Uncharted 4</td>
                <td>juego de aventura</td>
                <td>$8000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Borderlands3</td>
                <td>Juego shooter</td>
                <td>$8000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>God Of War</td>
                <td>juego de aventura</td>
                <td>$10000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Dead Island</td>
                <td>juego de accion</td>
                <td>$500</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>InFamous</td>
                <td>Juego de Aventura</td>
                <td>$2000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Resistance</td>
                <td>Juego de Disparos</td>
                <td>$2000</td>
              </tr>
            </tbody>
          </table>
      </div>
    </main>
    <footer>

        <hr>

        <a href="./contacto.html">Contacto</a>

        <P>Copyright &copy; todos los derechos reservados HardwareShop</P>
    </footer>
</body>

</html>