* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
th {
  font-family: "Bebas Neue", sans-serif;
  color: rgba(253, 253, 253, 0.822);
}
td {
  font-family: "Bebas Neue", sans-serif;
  color: white;
}
table {
  background-color: black;
  width: 50%;
  height: 30%;
}
header {
  font-family: "Abril Fatface", cursive;
  height: 20%;
}
body {
  width: 100%;
  height: auto;
  background: linear-gradient(
    to top,
    rgb(36, 36, 36),
    rgb(41, 40, 41),
    rgba(46, 46, 46, 0.925),
    rgb(58, 57, 57),
    rgba(68, 68, 68, 0.925)
  );
}
footer {
  position: end;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  height: 100px;
  text-align: center;
}
li {
  list-style-type: none;
  padding: 5%;
  margin: 0%;
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  color: rgba(148, 141, 50, 0.658);
}

p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  padding: 3px;
  color: rgba(148, 141, 50, 0.658);
  margin: auto;
}
h1 {
  font-family: "Abril Fatface", cursive;
  color: #221e47;
  line-height: 1.5em;
  text-align: center;
  word-spacing: 5px;
}
h2 {
  font-family: "Abril Fatface", cursive;
  color: #2e3c8d;
  line-height: 1.5em;
  padding: 3px;
}
h3 {
  font-family: "Abril Fatface", cursive;
  color: #221e47;
  line-height: 1.5em;
  padding: 10px;
  margin: 20px;
}
h4 {
  font-family: "Abril Fatface", cursive;
  color: #28a1a1;
  line-height: 1.5em;
  padding: 5px;
}
h5 {
  font-family: "Abril Fatface", cursive;
  color: #221e47;
  line-height: 1.5em;
  padding: 100%;
  margin: 100%;
}
main {
  width: 100%;
  margin: 20px auto;
  padding: 3%;
  height: 165vh;
  border: solid black 1px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  grid-template-areas:
    "ef ef ef ef"
    "ab c d e ";
}
.ab {
  background-color: coral;
  grid-area: ab;
}
.ef {
  background-color: blueviolet;
  grid-area: ef;
}
.c {
  background-color: chartreuse;
  grid-area: c;
}
.e {
  background-color: chartreuse;
  grid-area: e;
}
.d {
  background-color: fuchsia;
  grid-area: d;
}
.sector {
  border: 5px outset rgb(209, 69, 26);
  padding: 6%;
  height: 450px;
  width: 300px;
  background: radial-gradient(
    circle,
    rgb(27, 54, 82),
    rgb(52, 52, 92),
    rgba(2, 2, 2, 0.925)
  );
  overflow: visible;
  display: grid;
  align-self: center;
  transition: all 1.8s ease;
}
.sector-img {
  border: 1px solid black;
  border-radius: 3%;
  width: 100%;
  height: 180px;
}
.sector:hover {
  background-color: blueviolet;
  transform: translate(10px, 14px);
  border-radius: 3%;
  border: 3px outset #ff0404;
}
.sectorCarrucel {
  border: 3px solid black;
  padding: 0px;
  height: auto;
  width: auto;
  margin: 0px;
  display: grid;
  align-items: center;
}
.carrucelImg {
  height: auto;
  width: 100%;
}
div {
  text-align: center;
}
.productos {
  padding: 0px;
  height: 100%;
  width: 90%;
  border-radius: 3%;
  border: 3px solid rgb(32, 58, 82);
  background-color: black;
}
.formulario {
  background-image: url("../assets/image/divs");
  font-family: "Abril Fatface", cursive;
  width: auto;
  height: auto;
  border: 5px outset rgb(46, 44, 44);
  color: #b430c5;
}
button {
  font-family: roboto;
}
input {
  font-family: "Abril Fatface", cursive;
  background-color: black;
  color: white;
}
textarea {
  font-family: "Abril Fatface", cursive;
  background-color: black;
  color: white;
}
.input-button {
  color: white;
  background-color: grey;
}
/* .padre {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  grid-template-areas:
    "header, header, header"
    "body, body, body"
    "footer, footer, footer";
} */
.hijo {
  background: radial-gradient(
    circle,
    rgb(27, 54, 82),
    rgb(52, 52, 92),
    rgba(2, 2, 2, 0.925)
  );
  border: solid rgb(55, 0, 255) 3px;
  color: green;
  font-size: 1.5em;
  text-align: start;
}
@media only screen and (max-width: 1000px) {
  body {
    text-align: center;
    margin: auto;
  }
  main {
    margin: auto;
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    grid-template-areas:
      "ef ef "
      "ab c"
      "d e";
  }
  .hijo {
    width: auto;
    background-color: yellow;
    border: solid rgb(55, 0, 255) 3px;
    color: green;
    font-size: 1.5em;
    text-align: center;
  }
  .tableResponsive {
    width: 100%;
    height: 100%;
    padding: auto;
  }
  footer {
    height: auto;
  }
  @media only screen and (max-width: 768px) {
    body {
      background-color: rgb(11, 135, 243);
      text-align: center;
    }
    main {
      width: 90%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 10px;
      grid-template-areas:
        "ef ef "
        "ab c"
        "d e";
    }
    .hijo {
      width: auto;
      background-color: yellow;
      border: solid rgb(4, 1, 15) 3px;
      color: red;
      font-size: 1.5em;
      text-align: center;
    }
  }
  footer {
    height: auto;
  }

  @media only screen and (max-width: 500px) {
    body {
      background-color: black;
      text-align: center;
    }
    h2 {
      text-overflow: 10px;
    }
    main {
      width: 90%;
      height: auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      gap: 10px;
      grid-template-areas:
        "ef"
        "ab"
        "c"
        "d"
        "e";
    }

    .hijo {
      width: auto;
      background-color: yellow;
      border: solid rgb(247, 247, 247) 3px;
      color: white;
      font-size: 1.5em;
      text-align: center;
    }
    footer {
      height: auto;
    }
  }
}
